@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 100;
  src: url("./../../../public/assets/fonts/iranyekanwebregular.eot");
  src: url("./../../../public/assets/fonts/iranyekanwebregular.woff") format("woff"),
    url("./../../../public/assets/fonts/iranyekanwebregular.eot") format("eot");
}
.header {
  padding-top: 120px !important;
  background-image: url(./../../../public/assets/images/bg-headrer.webp);
  background-position: center;
  background-size: cover;
}
.menu{
    z-index: 90;
  background-color: #fff !important;
    box-shadow: 0 3px 6px -6px rgb(46, 45, 45);
}
.menuHeader{
     background-color: transparent !important;
     box-shadow: none;
}

.colorWhite{
  color: #fff !important;
}

.SearchInput{
  outline: none !important;
}
.fixinput{
  width: 100% !important;
  position: fixed;
  top: 79px;
  z-index: 20 !important;
  padding: 4px 20px;
  margin: 0 -20px !important;
  background-color: white;
 box-shadow: 0 5px 8px rgba(182, 182, 182, 0.75);
}
.fixinput input{
  border: 1px solid rgb(230, 227, 227) !important;

}
.SearchInputBox{
  width: 100% !important;
}
.styles.SearchInputMenu{
display: none;
}
.bottomInput {
  display: none;
}
.modalHeader{
  width: 350px !important;
}
.SearchInput,
.SearchInput::placeholder {
  font: .9rem/3 iranyekan !important;
}
.SearchInputMenu,
.SearchInputMenu::placeholder {
  font: .9rem/3 iranyekan !important;
}
.SearchInput:focus {
  outline: none !important;
  border-color: #4156d9 !important;
}
.activeLink{
border-top: 2px solid #4156d9 !important;
color: #4156d9 !important;
}
.activeText{
color: #4156d9 !important;
}
.ADVERTISINGBox{
  display: none;
}
@media screen and (min-width: 570px) {
  .SearchInputBox{
    width: 60% !important;
  }
   .fixinput{ 
    width: 100% !important;
}

}
@media screen and (min-width: 900px) {
  .SearchInputMenu{
    outline: none !important;
    width: 600px ;
    display: flex;

}
  .fixinput{ 
    display: none !important;
}
.modalHeader{
  width: 450px !important;
}
.modalmenu{
  width: 380px !important;

}
  .logoHeader {
    width: 120px;
    height: 40px;
  }
  .SearchInputBox {
    width: 650px !important;
  }
  .bottomInput {
    display: flex;
  }
}
