.hide{
  display: none;
}
.show{
  display: flex;
}

.menu{
  background-color: blue;
}
.navbar{
  background-color: red;
  height: 80px;
    padding: 10px 16px;
  color: #f1f1f1;

}
.fixed{
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #7680e9;
  transition: .3s ease-in-out;
}
.nav{
  background-color: aqua;
}
.top{
  height: 80px;
  position: sticky;
  background-color: aqua;
  top: 0;
}
.header {
  position: sticky;
  top: 0px;
  background-color: #BFDBFE;
  height: 6rem;
  transition-property: all; 
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
}

.header.down {
  top: -6rem;
}