/* #app {
  height: 500px;
}
html, */
/* body {
  position: absolute;
  height: auto;
} */

/* body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}  */
/* .swiperbody {
  position: absolute;
  height: auto;
} */
.swiper {
  width: 100%;
  height: 100%;
  /* display: flex;
  flex-direction: row; 
  justify-content: flex-start; 
  align-items: center;  */
  
}

.swiperslide {
  /* z-index: 10; */
  height:700px;
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* border: 2px solid darkmagenta; */

  /* Center slide text vertically */
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: flex-start; */
  /* margin-bottom: 100px;
  margin-top: 100px; */
}

.slideimg {
  display: flex;
  height:240px;
  width:302px;
  /* width: 100%; */
  /* height: 80%; */
  object-fit: cover;
  border-radius: 3px;
  padding: 1px 5px;
  /* background-color: aquamarine; */
  /* aspect-ratio: 1/1; */
  
}


