.navHeader {
  position: static;
  height: 55px;
  width: 100%;
  top: 650px;
  z-index: 1000;
  transition: 0.3s ease-in;
  overflow: hidden;
}
.sticky{
  position: fixed !important;
  top: 80px !important; 
  right: 0;
  left: 0;
  z-index: 999 !important;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}
.navHeader .navbar {
  font-family: "iranyekan", serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin: auto;
  height: 100%;
  padding: 0 1rem;
}

.navHeader .nav-menu a {
  color: #000000;
  cursor: pointer;
}

.navHeader .nav-menu {
  display: flex;
  height: 100%;
}

.nav-item {
  color: white;
  display: flex;
}

.navHeader .link {
  color: white;
  padding: 0 1rem;
  font-weight: 500;
}
.link {
  color: white;
  text-decoration: none;
  margin-left: 10px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-behavior: smooth;
}

.link.active {
  border-top: 5px solid #4156d9;
}

.navHeader .link:hover {
  border-top: 5px solid #4156d9;
}

@media screen and (min-width: 940px) {
  .navHeader {
    max-width: 100%;
  }

  .navHeader .navbar {
    max-width: 100%;
  }

  .hamburger {
    display: block;
  }

  .link.active {
    border-top: 5px solid #4156d9;
    margin-top: 0;
    padding-top: 16px !important;
  }

  .navHeader .link:hover {
    border-top: 5px solid #4156d9;
    margin-top: 0;
    padding-top: 16px !important;
  }

  .link {
    margin: 1.5rem 0;
  }

  .navHeader .navbar img {
    width: 150px;
  }
}
