.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  background-color: rgba(0, 0, 0, 0.336);
  color: #ffffff !important;
  font-weight: bolder;
  width: 35px !important;
  height: 35px !important;
  border-radius: 50%;
  box-sizing: border-box;
  transition-duration: 0.4s;
  opacity: 0;
  z-index: 1;
  --swiper-navigation-size: 18px;
}
.swiper-pagination-bullet-active {
     background-color: #fff !important;
}
.swiper:hover .swiper-button-next{
  opacity: 1;
}
.swiper:hover .swiper-button-prev{
  opacity: 1;
}

.swiper-button-prev,
.swiper-button-next {
  top: 50%;
}
