
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  direction: rtl;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}


a {
  color: inherit;
  text-decoration: none;
}
@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 100;
  src: url("./../public/assets/fonts/iranyekanwebregular.eot");
  src: url("./../public/assets/fonts/iranyekanwebregular.woff") format("woff"),
    url("./../public/assets/fonts/iranyekanwebregular.eot") format("eot");
}
