* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  direction: rtl;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 100;
  src: url("./../../src/assets/fonts/iranyekanwebregular.eot");
  src: url("./../../src/assets/fonts/iranyekanwebregular.woff") format("woff"),
    url("./../../src/assets/fonts/iranyekanwebregular.eot") format("eot");
}

.inputFooter,
.inputFooter::placeholder {
  font: 0.8rem/3 iranyekan !important;
}
.swiper {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.swiper-button-next,
.swiper-button-prev {
  background-color: #969696;
  border-radius: 50%;
  font-size: 10px !important;
  width: 10px !important;
  height: 10px !important;
  color: ghostwhite !important;
}

.swiper-pagination-bullet-active {
  background-color: #fff !important;
}
.BannerImag {
  cursor: pointer;
}
.BorderImag {
  border-radius: 15px;
}
.CommentRating {
  cursor: pointer;
}
.ProfilePic {
  width: 50px;
  height: 50px;
}
.custom-calendar.rmdp-wrapper {
  box-shadow: none;
  font-family: iranyekan;
}
