#app {
    height: 100%;
}

html,
body {
    position: relative;
    height: 100%;
    --swiper-navigation-size: 14px;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

/* navigation */

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
    background-color: white;
    color: #4156d9 !important;
    font-weight: bolder;
    width: 40px !important;
    height: 40px !important;
    border-radius: 50%;
    box-sizing: border-box;
    transition-duration: 0.4s;
}

.swiper-button-next:hover {
    opacity: 0.6;
}

.swiper-button-prev:hover {
    opacity: 0.6;
}

.swiper-button-prev, .swiper-button-next {
    top:45%
}


